<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigemap.osmdroiddemo">

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 锁屏模式唤醒 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bf5207e0ee05765cbd26025d82748b42" />
        <!-- 高德 -->

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CheckPermissionsActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.Test2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TrackActivity" />

        <service
            android:name=".service.MyLocationService"
            android:enabled="true" />

        <activity android:name=".activity.TrackEditActivity" />
        <activity android:name=".activity.PointKeywordSearchActivity"></activity>
    </application>

</manifest>